*{
  margin: 0;
  padding: 0;
  font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 560px) {
  #contact-btns{
    width: 160px;
  }
}
.slick-slide > div {
  width:100%;
}
#own{
  background: rgb(7, 107, 7);
  border-radius: 10px 0px 10px 10px ;
  float: right;
}
#owned{
  justify-content: end;
  align-items: end;
}
.searchSuggestionLine:hover{
  background-color: rgb(227, 227, 227);
}
.searchSuggestionLine.active{
  background-color: rgb(227, 227, 227);
}
.show-items{
  background: transparent;
  /* backdrop-filter: blur(); */
  background-color: rgba(226, 223, 223, 0.2);
  /* opacity: ; */
}
