*{
  margin: 0;
  padding: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 560px) {
  #contact-btns{
    width: 160px;
  }
}
.slick-slide > div {
  width:100%;
}
#own{
  background: rgb(7, 107, 7);
  border-radius: 10px 0px 10px 10px ;
  float: right;
}
#owned{
  justify-content: end;
  align-items: end;
}

